.reddit-titlecard-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 28px;
	margin-bottom: var(--reddit-container-padding);
}

.reddit-titlecard-header-icon {
	height: 76px;
	filter: invert(1);
}

.reddit-titlecard-header-text-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.reddit-titlecard-header-subreddit {
	font-weight: bold !important;
}

.reddit-titlecard-title {
	font-weight: bold;
	text-align: left;
}
