@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('./reset.css');

:root {
	--reddit-font: 'IBM Plex Sans', sans-serif;

	--reddit-font-title-size: 40px;
	--reddit-font-title-weight: bold;

	--reddit-font-normal-size: 32px;
	--reddit-font-normal-weight: normal;

	--reddit-font-subtext-size: 27px; 
	--reddit-font-subtext-weight: thin;

	--reddit-color-text: white;
	--reddit-color-user: #04a5e5;
	--reddit-color-subtext: #acb0be;

	--reddit-container-background: black;
	--reddit-container-width: 850px;
	--reddit-container-padding: 42px;
	--reddit-container-corner-roundness: 15px;
}

p, h1 {
  color: white;
  font-family: var(--reddit-font);
}

h1 {
	font-size: var(--reddit-font-title-size);
}

p {
  font-size: var(--reddit-font-normal-size);
}

.small {
  font-size: 27px;
  color: #acb0be;
  font-weight: thin;
}

.user {
  color: var(--reddit-color-user) !important;
}

.box {
	background: var(--reddit-container-background);
	width: var(--reddit-container-width);
	padding: var(--reddit-container-padding);
	border-radius: var(--reddit-container-corner-roundness);
}