.reddit-comment {
	display: flex;
}

.reddit-comment-depth-padding {
	margin-right: var(--reddit-container-padding);
	width: 10px;
	background-color: var(--reddit-color-subtext);
}

.reddit-comment-header {
	display: flex;
	align-items: center;
	gap: 1.5em;
}

.reddit-comment-header-icon {
	height: 68px;
	border-radius: 100vh;
}

.reddit-comment-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
